/* styles.scss */

/* Font-Face Definitions */
@font-face {
    font-family: 'Circle Black';
    src: local('Circle Black'), url('../../fonts/CircularStd-Black.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Circle Light';
    src: local('Circle Light'), url('../../fonts/CircularStd-Light.otf') format('opentype');
  }
  
  /* Global Styles */
  :root {
    background-color: #151515;
  }
  
  /* Login Section */
  .login {
    font-family: 'Circle Black';
  
  
  /* Header Section */
  .header-container {
    margin-bottom: 50px;
    padding: 20px;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(255, 255, 255);
  
    /* Styles for the title within the header */
    .title {
      font-family: 'Circle Black';
      font-size: 100px;
      color: rgb(255, 255, 255);
    }
  }
  
  /* Body Section */
  .body-container {
    /* Styles for the .circle-container */
    .circle-container {
      display: flex;
      justify-content: space-around;
    }
  
    /* Styles for the .button-container */
    .button-container {
      margin-bottom: 50px;
      padding: 20px;
      width: 100%;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgb(255, 255, 255);
    }
  
    /* Styles for the .login-button */
    .login-button {
      font-size: 40px;
      background-color: #1dcc4c;
      color: #ffffff;
      cursor: pointer;
      border-radius: 100px;
    }
  }
} 