/* styles.scss */

/* Font-Face Definitions */
@font-face {
    font-family: 'Circle Black';
    src: local('Circle Black'), url('../../fonts/CircularStd-Black.otf') format('opentype');
}
  
@font-face {
    font-family: 'Circle Light';
    src: local('Circle Light'), url('../../fonts/CircularStd-Light.otf') format('opentype');
}
  
/* Global Styles */
:root {
    background-color: #151515;
}
  
/* Login Section */
.login {
    font-family: 'Circle Black';
    overflow-x: hidden;
  
  
/* Header Section */
.header-container {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
    margin-top: 5vh;
  
    /* Styles for the title within the header */
    .title {
        font-family: 'Circle Black';
        font-size: 100px;
        color: rgb(255, 255, 255);
    }
}
  
/* Body Section */
.body-container {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    /* Styles for the .circle-container */
    .circle-container {
        position: relative;
        width: min(100vh, 100vw);
        height: 60vh;
    }
  
    /* Styles for the .button-container */
     .button-container {
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  
    /* Styles for the .login-button */
    .login-button {
        height: 10vh;
        width: 37vh;
        margin-top: 5vh;
        font-family: "Circle Black";
        font-size: 25px;
        background-color: #1dcc4c;
        color: #000000;
        cursor: pointer;
        border-radius: 150px;
        border: none;
    }
    /* Apply styles when hovering over the .login-button */
    .login-button:hover {
        transform: scale(1.1); /* Enlarge the button by 10% on hover */
        border: 2px solid white; /* Add a white border on hover */
    }
} 
}