@font-face {
        font-family: 'Circle'; /* Font family name you can use in the 'font-family' property */
        src: local("Circle"), url('../../fonts/circle.ttf') format('truetype'); /* Adjust the path as needed */
}

.login {
        font-family: 'Circle';
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40vh;
        background-color:rgb(57, 57, 57);
} 
  
    .title-container {
        margin-bottom: 100px; /* Add spacing between the title and button */
    }
  
    .title {
        font-size: 100px;
    }
  
    .button-container {
        display: flex;
        justify-content: center; /* Center the button horizontally within the container */
    }
  
    .login-button {
        width: 400;
        height: 400;
        background-color: #1dcc4c;
        color: #ffffff;
        font-size: 60px;
        border: none;
        cursor: pointer;
        outline:rgb(57, 57, 57);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        /* Add any other button styling as needed */
  }