/* styles.scss */

/* Font-Face Definitions */
@font-face {
    font-family: 'Circle Black';
    src: local('Circle Black'), url('../../fonts/CircularStd-Black.otf') format('opentype');
}
  
@font-face {
    font-family: 'Circle Light';
    src: local('Circle Light'), url('../../fonts/CircularStd-Light.otf') format('opentype');
}
 
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes pop-in {
    0% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}
          

/* Global Styles */
:root {
    background-color: #151515;
}
  
/* Login Section */
.home {
    background: linear-gradient(to bottom right, #656565, #3a3a3a00, #000000);
    font-family: 'Circle Black';
    overflow-x: hidden;
  
/* Header Section */
.header-container {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
    margin-top: 5vh;
  
    /* Styles for the title within the header */
    .title {
        font-family: 'Circle Black';
        font-size: 10vw;
        color: rgb(255, 255, 255);
    }
}
  
/* Body Section */
.body-container {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;

    /* container for the introduction section */
    .intro-container{
        position: relative;
        width: 100%;
        height: 80vh;
        margin-bottom: 5vh;
    }
    
    /* container for the tracks section */
    .tracks-container{
        position: relative;
        width: 100%;
        height: 80vh;
        margin-bottom: 10vh;
        margin-top: 5vh;
    }    

    /* container for the tracks section */
    .tracks-container-2{
        position: relative;
        width: 100%;
        height: 80vh;
        margin-bottom: 10vh;
        margin-top: 10vh;
    }       

    /* container for the artists section */
    .artist-container{
        position: relative;
        width: 100%;
        height: 80vh;
        margin-bottom: 5vh;
        margin-top: 10vh;
    }    
    
    
} 

.footer-container {
    width: 100%;
    height:10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Circle Light';
    position: relative;
    color: rgb(179, 179, 179);
    background-color: transparent;
    bottom: 0;

    .name,
    .github,
    .linkedIn {
        display: flex;
        align-items: center;
        padding: 0 10px; 
        .link{
            text-decoration: none;
            color: rgb(179, 179, 179);
            img {
                transform: translateY(-3px); /* You can adjust the value to fine-tune the alignment */
                vertical-align: middle;
            }
        }
    }

    .github-icon,
    .linkedIn-icon{
        margin-right: 5px;
        width:2vw;
        height: auto;
    }
}

}

