/* styles.scss */

/* Font-Face Definitions */
@font-face {
    font-family: 'Circle Black';
    src: local('Circle Black'), url('../../fonts/CircularStd-Black.otf') format('opentype');
}
  
@font-face {
    font-family: 'Circle Light';
    src: local('Circle Light'), url('../../fonts/CircularStd-Light.otf') format('opentype');
}
  
/* Global Styles */
:root {
    background-color: #151515;
}
  
/* Login Section */
.home {
    font-family: 'Circle Black';
    overflow-x: hidden;
    background: linear-gradient(to bottom right, #656565, #3a3a3a00, #000000);
  
/* Header Section */
.header-container {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
    margin-top: 5vh;
  
    /* Styles for the title within the header */
    .title {
        font-family: 'Circle Black';
        font-size: 10vw;
        color: rgb(255, 255, 255);
    }
}
  
/* Body Section */
.body-container {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    /* Styles for the .circle-container */
    .circle-container {
        position: relative;
        width: 100%;
        height: 60vh;
        margin-bottom: 5vh;
    }
  
    /* Apply styles when hovering over the .login-button */
    .login-button:hover {
        transform: scale(1.1); /* Enlarge the button by 10% on hover */
        border: 2px solid white; /* Add a white border on hover */
    }
} 

.footer-container{
    height: 10vh;
    width: 100%;
    position: relative; 

    .footer-content{
        font-family: 'Circle Light';
        color: rgb(179, 179, 179);
        display: flex;
        font-size: 2vw;
        margin-left: 5vw;
    }
}

}

